@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: url("./assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("./assets/fonts/Montserrat-Bold.ttf");
}

:root {
  --primary-color: #212d52;
  --secondary-color: #1178c0;
  --ternary-color: #2de4d0;
  --core-color: #ededed;
  --main-color: #161610;
  --accent-color: #4f6f81;
  --highlight-color: #8dd2d1;
  --font-semibold: "Montserrat SemiBold";
  --font-bold: "Montserrat Bold";
  --text-large: 24px;
  --text-medium: 18px;
  --text-small: 14px;
  --text-xs: 10px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat Bold";
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.react-tagsinput {
  border: 1px solid #dedede;
  border-radius: 6px;
  padding: 5px;
}

.react-tagsinput--focused {
  border: 1px solid #bae6fd;
}

.react-tagsinput-tag {
  background: #edf0f5;
  color: #555;
  border: 1px solid #efefef;
  font-family: "Montserrat";
  border-radius: 6px;
  margin: 0 3px;
  padding: 5px 10px;
}

.react-tagsinput-input {
  border: none;
  font-size: 14px;
  width: 250px;
  font-family: "Montserrat";
  font-weight: 100;
  margin: 0;
  color: #161610;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}
